<h1> Your Consultations </h1>

<div>
	<%= month_calendar events: @consultations do |date, consultations| %>
	  <%= date %>

	  <% consultations.each do |consultation| %>
	    <div>
	    	<button class="link-button" value="<%= consultation %>"><%= get_patient_name(consultation.user_id) %></button>
	    </div>
	  <% end %>
	<% end %>
</div>

<div>
	
</div>

<script>
	var consultation;
	$('.link-button').click(function(){
		consultation = $(this).val;
		console.log(consultation);
	})
</script>