<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Doctoora.com, Africa's Premier Health and Wellness Market</h1>
    <p>
      <%= @email_content %>
    </p>
    <p>
      To view this notification log in using this link: http://doctoora-staging.herokuapp.com
    </p>
    <p>Thank you and have a healthy day!</p>
  </body>
</html>