
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Doctoora.com, Africa's Premier Health and Wellness Market</h1>
    <p>
      You have been referred to Doctoora.com by your contact, <%= @username %>.<br>
    </p>
    <p>
      To sign up today, visit http://doctoora.com.
    </p>
    <p>Thank you and have a healthy day!</p>
  </body>
</html>