<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Doctoora.com, Africa's Premier Health and Wellness Market</h1>
    <p>
      Thank you for signing up to Doctoora. We are happy to have you on board.
    </p>
    <p>Have a healthy day!</p>
  </body>
</html>