<div>
	<h1>Welcome Admin</h1>

	<p><%= link_to "Verify Doctors", verify_doctors_path %></p>
	<p><%= link_to "Plans", manage_plans_path %></p>

	<p><%= link_to "Admin Sign Out", destroy_admin_session_path, method: :delete %></p>
</div>