<div>
	<%= link_to "admin home", admin_path, :class => "admin-home" %>
</div>

<%= link_to "add product category", new_product_category_path %>
	
	
<div>
	<div class="panel panel-body">
		<%= @categories.each do |category| %>
			<h3><%= category.name %></h3>
		<% end %>
	</div>
</div>

<style>
  #activity-wrapper {
    display: none;
  }
</style>