<div>
	<%= link_to "admin home", admin_path %>
</div>

<h1>Verify Health Professionals</h1>

<div>
	<% @doctors.each do |doctor| %>
		<div class="panel panel-default">
			<div class="panel-body">
				<%= link_to verify_doctor_path(doctor) do %>
					<%= get_doctor_name doctor.id %>
				<% end %>
			</div>
		</div>
	<% end %>
</div>

<style>
  #activity-wrapper {
    display: none;
  }
</style>