<div>
	<iframe src="https://appear.in/<%= @consultation.room_name %>" width="800" height="640" frameborder="0"></iframe>
	<% if user_signed_in? %>
		<%= link_to "End Consultation", consultation_index_path, :class => "end-consultation-link" %>
	<% elsif doctor_signed_in? %>
		<%= link_to "End Consultation", new_user_patient_review_path(params[:user_id]), :class => "end-consultation-link" %>
	<% end %>
</div>