<%= render 'shared/sidebar' %>
<%= render 'shared/nav' %>

<div>
	<iframe src="https://appear.in/<%= @room_name %>" width="800" height="640" frameborder="0"></iframe>
</div>

<div>
	<%= link_to "End Consultation", consultation_index_path %>
</div>