<div id="activity-wrapper">
	<h5>RECENT ACTIVITY</h5>
	<div class="notification">
		<ul>
			<% @notifications.each do |notification| %>
				<li>
					<img src="<%= get_doctor_avatar(notification.doctor_id) %>" class="notification_image"/>
					<%= get_doctor_name(notification.doctor_id) + " " + notification.notification %>
					<p><%= time_ago_in_words(notification.created_at) %> ago</p>
				</li>
			<% end %>
		</ul>
	</div>
</div>