<%= render 'shared/sidebar' %>
<%= render 'shared/nav' %>

<div>
	<h4>Trending in the health communities you follow...</h4>
	<div style="width: 100%; padding-bottom: 25%" data-simple-slider>
		<img src="https://unsplash.it/640/160?random=1"/>
		<img src="https://unsplash.it/640/160?random=2"/>
		<img src="https://unsplash.it/640/160?random=3"/>
	</div>
</div>

<div>
	<form class="search-form">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Tell us your symptoms">
        </div>
        <button type="submit" class="btn btn-primary">Talk to a doctor >> </button>
    </form>
</div>

<script>
	simpleslider.getSlider();
</script>