/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-datepicker3
 */

/* HOUSEKEEPING */

body {
    overflow-x: hidden;
    font-family: 'Droid Sans', sans-serif !important;
 }

button {
    background: #4692ce;
    color: white;
 }

.link-button{
     background:none!important;
     color:inherit;
     border:none; 
     padding:0!important;
     font: inherit;
     /*border is optional*/
     cursor: pointer;
}

.main-area {
    margin-left: 75px;
    width: 65% !important;
}

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


#page-content-wrapper {
    width: 100%;
    position: absolute;
    margin-left: 150px;
}

/* PROFILE PAGE */

.profile div{
	width: 100%;
}
.profile-title{
	float: left;
	width: 50%;
}
.profile-info{
	float: right;
	width: 50%;
}

.profile-image {
	border-radius: 100%;
	height: 10em;
    width: 10em;
    background-color: #4692ce;
}

/* Sidebar Styles */
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    top: 66px;
    left: 250px;
    width: 225px;
    height: 100%;
    margin-left: -250px;
    overflow-x: hidden;
    overflow-y: scroll;
    background: url("/gradient.png");
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding-bottom: 6em;
}

#sidebar-image {
    padding-top: 1em;
    padding-left: 1.5em;
} #sidebar-image p {
    margin-left: 1.25em;
}

#sidebar-image:hover {
    background-color: #f3904c;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    text-align: justify;
    color: #fff;
    cursor: pointer;
}

.sidebar-nav p {
	color: #fff;
}

.sidebar-nav li a:hover, #bootstrap-overrides .navbar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: #f3904c;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.sidebar-icon {
    float: left;
    width: 30px;
    margin-left: 25px;
    padding: 2px 0;
} .icon-home {
    margin-top: 20px;
}

.glyphicon {
	color: #fff;
	font-size: 32px;
}

.sidebar-nav #refer {
	margin-top: 40px;
	border: 1px solid #fff;
	border-left: none;
	border-right: none;
}

.sidebar-nav .glyphs {
	margin-top: 50px;
} .sidebar-nav .glyphs li {
	display: inline-block;
}

#logo {
	width: 8.5em;
	margin-top: .25em;
	padding-bottom: 3em;
}

.devise-logo {
	width: 15em;
	margin-left: 2.5em;
}

#consultation-link {
    background-color: #4692ce;
    color: #fff;
}

.glyphicon-home {
    padding-top: .5em;
    margin-left: .5em;
}

#glyphs {
    margin-top: 1em;
    height: 150px;
}

/*.selected {
    background-color: #f3904c;
}*/

/* Notification Sidebar */

.notification_image {
    width: 2em;
    float: left;
    margin-right: 0.2em;
}

.notification ul {
    list-style-type: none;
    padding-left: 0;
} 

.notification ul li {
    margin-bottom: 1em;
}

.notification ul li p {
    margin-left: 2.25em;
}

.notification ul li a {
    text-decoration: none;
} .notification ul li a:hover {
    color: #cf6e4d;
}
/* Navbar */

#bootstrap-overrides .navbar {
	background: #D2D7D3;
    border-radius: 0;
    margin-left: 75px;
}

#bootstrap-overrides .navbar-nav li a, #bootstrap-overrides .navbar-nav li p {
	color: #fff;
}

#greeting p {
	color: #4692ce !important;
    padding-top: 30px;
    padding-left: 15px;
}

.navbar-logo {
    float: left;
    margin-left: -145px;
    width: 150px;
    position: fixed;
}

#plans {
    background-color: #4692ce;
} #plans a:hover {
    cursor: pointer;
}
/* Home Page */

.consultation-delete {
    padding-top: 2.5em;
}

.consultation-delete-link {
    color: #cf6e4d;
}

#doc_wallet_balance {
    color: green;
    margin-right: 1em;
}

#toggle-off:hover {
    background-color: #e74c3c;
    border: 0;
}
#toggle-on:hover {
    background-color: #2ecc71;
    border: 0;
}


.search-form {
	width: 100%;
}

.slider img {
	width: 100%;
}

.form {
	margin-top: 5%;
}

.access-link {
    background: #4692ce;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 0.25em;
    display: inline-block;
    height: 2.5em;
    line-height: 2em;
    width: 30em;
    margin: 10px 0;
}

.access-link:hover {
    background: #f3904c;
    text-decoration: none;
    color: #ffffff;
}

.access-link:active {
    text-decoration: none;
    color: #ffffff;
}

#home-logo {
    width: 30em;
    margin-top: 5em;
    margin-bottom: 2.5em;
}

#activity-wrapper {
    z-index: 1000;
    position: fixed;
    top: 66px;
    right: 0;
    width: 225px;
    height: 100%;
    overflow-x: hidden;
    background-color: #D2D7D3;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding: 0 1em;
    padding-bottom: 6em;
}

.glyphicon-remove-circle {
    cursor: pointer;
    font-size: 1em;
    color: #c76c4e;
}

.admin-home {
    font-size: 30px;
}

/*Sign In/Up page */
.access-form {
    margin-top: 5em;
}

/* Profile Page */
.edit-link {
	color: #fff;
	text-decoration: none;
} .edit-link:hover {
	color: #fff;
}

/* Plan Page */
.plan {
	border: 1px dashed #202020;
}

/* Patients Page */
.patient-records {
    display: none;
}

/* Onboarding Form */
.onboarding-form {
    padding-bottom: 1em;
    background: #f3904c !important;
    border-radius: 0.2em;
}

.onboarding-form .control-label, .onboarding-form h2, .onboarding-form h3 {
    color: #fff;
}

.height-conv-chart {
    display: none;
}

#h-conv-chart {
    text-decoration: underline;
    cursor: pointer;
}


/* Calendar */
.table {
    overflow: scroll;
}

/* Type Select */
.specialization-link {
    background-color: #4692ce;
    width: 50px;
    height: 200px;
    margin: 2em;
    border-radius: 0.5em;
} .specialization-link p {
    text-align: center;
    color: #fff;
    font-size: 22.5px;
    padding-top: 50px;
}

/* Consultation Show Page */
.end-consultation-link {
    background-color: #cf6e4d;
    color: #fff;
    margin: 1.5em 0;
} .end-consultation-link2 {
    background-color: #cf6e4d;
    color: #fff;
    margin-bottom: 1.5em;
}

/* Consultation Form */
.address-box, .clinic-options, .insurance-providers {
    display: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/* Doctor Consultation Page */
.patient-appointment {
    font-weight: bold;
    color: #c76c4e;
}

.link-button:hover {
    border-bottom:2px solid #c76c4e; 
}

/* Messaging */
.message-body:hover {
    background-color: #4193c9;
    opacity: 0.8;
}

.message-body a:hover {
    color: #fff;
    text-decoration: none;
}

.message-body {
    border-top: dotted 1px #333;
    border-bottom: dotted 1px #333;
    border-radius: 0.2em;
    margin-left: -50px;
    margin-bottom: 1em;
    width: 107.5%;
}

.doctor-message {
    background: #4193c9;
    color: #fff;
    padding: .5em;
    margin: .5em 0;
}

.patient-message {
    background: #cf6e4d;
    color: #fff;
    padding: .5em;
    margin: .5em 0;
}

.conversation {
    list-style-type: none
}
/*
.message-image {
    min-width: 500px;
    min-height: 500px;
}*/

/* ADMIN */
.admin-patient, .admin-doctor {
    margin: 2em 0;
}

.col-md-4 img {
    max-width: 100%
}