.well {
  background: #d3d8d4 !important;
  box-shadow: 0px 0px 8px 0px #000000 !important;
}

.app-well{
  background : #ddd !important;
  width: 21em !important;
  margin:2em;
  border-radius: .5em;
}

.house h2, .cal {
  text-align: center;
}

.app-heading h3{
  padding: .5em;
  text-align: center;
  border-bottom: 1px solid white;
}
.consultation-delete{
  border-top: 1px solid white;
  text-align: center;
  padding-top: 1.5em;
}
.consultation-delete {
}

.consultation-delete-link {
    color: #cf6e4d;
    text-decoration: none !important;
}
.consultation-delete-link:hover{
  font-size: 1em !important;
  transition: color 2s, font-size 2s; !important;
}



.inner-well{
  background-color: white;
  border-radius: .5em;
  padding-bottom: .5em;
}

.inner-well h3{
  border-bottom: 1px solid #e7e7e7;
}

.inner-well h3, .inner-well p, .btn-patients{
  padding-left: .5em;
  padding-top: .5em;
}
